version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: restaurant-mongo
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: restaurant-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: restaurant-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

volumes:
  mongo_data:
